<h1>Submissions</h1>
<!-- <div *ngIf="submissions">
    <pre>{{ submissions | json }}</pre>
</div> -->

<div *ngIf="submissions">
    <div class="ui segments">
        <div *ngFor="let submission of submissions" class="ui segment">
            <p id="title" (click)="showSubmission(submission.id)">{{ submission.title }}</p>
            <i class="thumbs up outline icon" (click)="upVote(submission.id)"></i>
            <i class="thumbs down outline icon" style="margin-left: 10px" (click)="downVote(submission.id)"></i>
            <p id="body">{{ submission.points }} Points By {{ submission.author }} | {{ submission.created_at | timeAgo}} 
                <span *ngIf="submission.url != '' && submission.url != null" (click)="redirectToWeb(submission.url)">| Web |</span>  {{ submission.comment_number }} comments</p>
        </div>
    </div>
</div>